@import "variable";
@import "header";
@import "mixin";
@import "function";

section button {
    @include button-style;
    background-color: green;
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

//footer button {
//@include button-style;
//}

footer {
    button {
        @include button-style;
    }

    p {
        font-size: rem(20);
    }
}